In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\user\Downloads\healthcare-dataset-stroke-data.csv")

In [3]:
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
data.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [5]:
data["bmi"].fillna(data["bmi"].mean(),inplace=True)

In [6]:
data.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
id                   5110 non-null int64
gender               5110 non-null object
age                  5110 non-null float64
hypertension         5110 non-null int64
heart_disease        5110 non-null int64
ever_married         5110 non-null object
work_type            5110 non-null object
Residence_type       5110 non-null object
avg_glucose_level    5110 non-null float64
bmi                  5110 non-null float64
smoking_status       5110 non-null object
stroke               5110 non-null int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.1+ KB

In [8]:
x=data.iloc[:,1:11]
y=data.iloc[:,11]

In [9]:
x.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked

In [10]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: stroke, dtype: int64

In [11]:
x=data.iloc[:,1:11].values
y=data.iloc[:,11].values

In [12]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [13]:
ct=ColumnTransformer([("oh",OneHotEncoder(),[0,4,5,6,9])],remainder="passthrough")

In [14]:
x=ct.fit_transform(x)

In [15]:
x.shape

(5110, 21)

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [18]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [19]:
ann=Sequential()

In [20]:
ann.add(Dense(10,kernel_initializer="random_uniform",activation="relu"))

WARNING:tensorflow:From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\keras\initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [21]:
ann.add(Dense(20,kernel_initializer="random_uniform",activation="relu"))

In [22]:
ann.add(Dense(1,kernel_initializer="random_uniform",activation="sigmoid"))

In [23]:
ann.compile("adam","binary_crossentropy",metrics=["accuracy"])

In [24]:
ann.fit(x_train,y_train,batch_size=32,epochs=50)

WARNING:tensorflow:From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Epoch 1/50
4088/4088 [==============================] - 8s 2ms/sample - loss: 0.5150 - acc: 0.9469
Epoch 2/50
4088/4088 [==============================] - 1s 344us/sample - loss: 0.1808 - acc: 0.9523
Epoch 3/50
4088/4088 [==============================] - 1s 363us/sample - loss: 0.1636 - acc: 0.9523
Epoch 4/50
4088/4088 [==============================] - 2s 469us/sample - loss: 0.1595 - acc: 0.9523
Epoch 5/50
4088/4088 [==============================] - 2s 582us/sample - loss: 0.1567 - acc: 0.9523
Epoch 6/50
4088/4088 [==============================] - 3s 668us/sample - loss: 0.1548 - acc: 0.9523s - lo - ETA: 0s - loss: 0.1558 - acc: 0.951
Epoch 7/50
4088/4088 [==============================] - 3s 651us/sample - loss: 0.1531 - acc: 0.9523
Epoch 8/50
4088/4088 [==============================] - 3s 775us/sample - loss: 0.1520 - acc: 0.9523
Epoch 9/50
4088/4088 [==============================] - 4s 994us/sample - loss: 0.1505 - acc: 0.9523
Epoch 10/50
4088/4088 [==============================] - 4s 1ms/sample - loss: 0.1495 - acc: 0.9523
Epoch 11/50
4088/4088 [==============================] - 5s 1ms/sample - loss: 0.1487 - acc: 0.9523
Epoch 12/50
4088/4088 [==============================] - 3s 683us/sample - loss: 0.1478 - acc: 0.9523s - loss: 0.2147 -  - ETA: 2s - loss: 0.1681 - a - ETA: 1s - loss:
Epoch 13/50
4088/4088 [==============================] - 2s 482us/sample - loss: 0.1473 - acc: 0.9523
Epoch 14/50
4088/4088 [==============================] - 2s 502us/sample - loss: 0.1467 - acc: 0.9523
Epoch 15/50
4088/4088 [==============================] - 2s 479us/sample - loss: 0.1464 - acc: 0.9523
Epoch 16/50
4088/4088 [==============================] - 2s 492us/sample - loss: 0.1453 - acc: 0.9523s - loss: 0.1466 - acc: 0.9
Epoch 17/50
4088/4088 [==============================] - 3s 712us/sample - loss: 0.1452 - acc: 0.9523s - loss: 0.1501 - acc: 0.951 - E
Epoch 18/50
4088/4088 [==============================] - 4s 951us/sample - loss: 0.1448 - acc: 0.9523s - loss: 0.1412
Epoch 19/50
4088/4088 [==============================] - 3s 838us/sample - loss: 0.1443 - acc: 0.9523s - loss: 0
Epoch 20/50
4088/4088 [==============================] - 5s 1ms/sample - loss: 0.1438 - acc: 0.9523
Epoch 21/50
4088/4088 [==============================] - 2s 500us/sample - loss: 0.1442 - acc: 0.9523
Epoch 22/50
4088/4088 [==============================] - 2s 506us/sample - loss: 0.1433 - acc: 0.9523
Epoch 23/50
4088/4088 [==============================] - 3s 776us/sample - loss: 0.1432 - acc: 0.9523s - loss: 0.1448 - acc:  - ETA: 0s - loss: 0.1432 - acc: 0
Epoch 24/50
4088/4088 [==============================] - 2s 516us/sample - loss: 0.1430 - acc: 0.9523
Epoch 25/50
4088/4088 [==============================] - 2s 533us/sample - loss: 0.1425 - acc: 0.9523
Epoch 26/50
4088/4088 [==============================] - 3s 708us/sample - loss: 0.1424 - acc: 0.9523s - loss: 0.1429
Epoch 27/50
4088/4088 [==============================] - 2s 512us/sample - loss: 0.1422 - acc: 0.9523
Epoch 28/50
4088/4088 [==============================] - 1s 362us/sample - loss: 0.1421 - acc: 0.9523
Epoch 29/50
4088/4088 [==============================] - ETA: 0s - loss: 0.1431 - acc: 0.951 - 2s 425us/sample - loss: 0.1419 - acc: 0.9523
Epoch 30/50
4088/4088 [==============================] - 2s 447us/sample - loss: 0.1418 - acc: 0.9523
Epoch 31/50
4088/4088 [==============================] - 2s 390us/sample - loss: 0.1416 - acc: 0.9523
Epoch 32/50
4088/4088 [==============================] - 2s 367us/sample - loss: 0.1412 - acc: 0.9523
Epoch 33/50
4088/4088 [==============================] - 2s 508us/sample - loss: 0.1410 - acc: 0.9523s - loss: 0.1370 - acc:
Epoch 34/50
4088/4088 [==============================] - 2s 367us/sample - loss: 0.1410 - acc: 0.9523
Epoch 35/50
4088/4088 [==============================] - 2s 394us/sample - loss: 0.1405 - acc: 0.9523
Epoch 36/50
4088/4088 [==============================] - 1s 355us/sample - loss: 0.1403 - acc: 0.9523
Epoch 37/50
4088/4088 [==============================] - 2s 472us/sample - loss: 0.1402 - acc: 0.9523
Epoch 38/50
4088/4088 [==============================] - 2s 427us/sample - loss: 0.1399 - acc: 0.9523s - loss: 0.1457 - - ETA: 0s - loss: 0.1394 - acc: 0.95
Epoch 39/50
4088/4088 [==============================] - 3s 638us/sample - loss: 0.1399 - acc: 0.9523
Epoch 40/50
4088/4088 [==============================] - 4s 931us/sample - loss: 0.1395 - acc: 0.9523
Epoch 41/50
4088/4088 [==============================] - 2s 598us/sample - loss: 0.1390 - acc: 0.9523s - loss: 0.1248 -
Epoch 42/50
4088/4088 [==============================] - 3s 654us/sample - loss: 0.1392 - acc: 0.9523
Epoch 43/50
4088/4088 [==============================] - 3s 628us/sample - loss: 0.1392 - acc: 0.9525s
Epoch 44/50
4088/4088 [==============================] - 2s 578us/sample - loss: 0.1387 - acc: 0.9528
Epoch 45/50
4088/4088 [==============================] - 3s 694us/sample - loss: 0.1388 - acc: 0.9525
Epoch 46/50
4088/4088 [==============================] - 3s 625us/sample - loss: 0.1383 - acc: 0.9528s - lo
Epoch 47/50
4088/4088 [==============================] - 2s 602us/sample - loss: 0.1381 - acc: 0.9528
Epoch 48/50
4088/4088 [==============================] - 3s 640us/sample - loss: 0.1381 - acc: 0.9528s - loss: 0.1398 - a
Epoch 49/50
4088/4088 [==============================] - 3s 614us/sample - loss: 0.1376 - acc: 0.9528s - loss: 0.
Epoch 50/50
4088/4088 [==============================] - 3s 639us/sample - loss: 0.1374 - acc: 0.9533s - loss: 0.1319 - acc: - ETA: 0s - loss: 0.1330 - acc:

In [25]:
ypred=ann.predict(x_test)

In [26]:
ypred

array([[4.2619234e-01],
       [1.1920929e-07],
       [2.4664342e-02],
       ...,
       [1.0312527e-02],
       [1.8730873e-01],
       [8.7382030e-03]], dtype=float32)

In [27]:
y_test

array([1, 0, 0, ..., 0, 1, 0], dtype=int64)

In [28]:
yy=ann.predict(sc.transform(ct.transform([["Male",67.0,0,1,"Yes","Private","Urban",228.69,36.6,"formerly smoked"]])))

yy

array([[0.22756775]], dtype=float32)

In [31]:
yy=ann.predict(sc.transform(ct.transform([["Male",55,0,0,"Yes","Private","Urban",72.03,37,"smokes"]])))
yy>0.5

array([[False]])

In [32]:
yy=ann.predict(sc.transform(ct.transform([["Female",63,0,0,"Yes","Self-employed","Rural",75.93,34.7,"formerly smoked"]])))
yy>0.5

array([[False]])